* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1fceff;
}

#container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    align-content: center;
}